name: Release Process

on:
    workflow_dispatch:
    push:
        branches:
            - main

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 18.18

            - name: Install dependencies
              run: npm ci

            - name: Check for Changesets
              id: changesets
              run: npx changeset status

            - name: Promote Version if Changeset
              if: steps.changesets.outputs.has-changesets == 'true'
              run: |
                  npx changeset version
                  git add .
                  git commit -m "Version bump from changesets"
                  git push
